@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .characteristic{
        @apply pt-[32px] text-[16px] leading-[20px] text-black;
    }
}

.listbox{
    padding-right: 11px;
}

.listbox::-webkit-scrollbar {
    width: 4px;
    padding-right: 11px;
}

/* Track */
.listbox::-webkit-scrollbar-track {
    background-color: #F2F2F2; 
    -webkit-border-radius: 24px;
    border-radius: 24px;
    width: 4px;
    margin-top: 13px;
    margin-bottom: 13px;
}

/* Handle */
.listbox::-webkit-scrollbar-thumb {
    -webkit-border-radius: 24px;
    border-radius: 24px;
    background: #BDBDBD; 
    width: 4px;
}